@font-face {
  font-family: "Comic-Sans-MS";
  src: url("./assets/fonts/Comic\ Sans\ MS.ttf") format("TrueType");
  font-weight: normal;
}

.main {
  font-family: "Comic-Sans-MS";
  text-align: center;
}

.content-container {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 15%;
  width: 100%;
}

/* .logo {
  width: 929px;
} */

#desc {
  color: #2e2525;
  font-size: 40px;
  width: 50%;
  align-self: center;
  margin-top: 6vh;
}

button {
  margin-top: 4vh;
  align-self: center;
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  font-size: 40px;
  background-color: #2e2525;
  padding: 10px 50px;
  border-radius: 15px;
  color: #f2fff2;
  font-family: "Comic-Sans-MS";
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

button:hover {
  /* Scaling button to 0.98 to its original size */
  /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
  /* Lowering the shadow */
}

@media screen and (max-width: 600px) {
  .content-container {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30%;
    width: 100%;
  }

  .logo {
    width: 320px;
    height: auto;
  }

  #desc {
    color: #2e2525;
    font-size: 20px;
    width: 90%;
    align-self: center;
    margin-top: 3vh;
  }

  button {
    margin-top: 4vh;
    align-self: center;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    font-size: 20px;
    background-color: #2e2525;
    padding: 10px 50px;
    border-radius: 15px;
    color: #f2fff2;
    font-family: "Comic-Sans-MS";
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}
